{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@routes": "./src/routes",
          "@services": "./src/services",
          "@config": "./src/config",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@enums": "./src/enums"
        }
      }
    ]
  ]
}
